/* GLOBAL */
@font-face {
    font-family:FavoritTrial-Regular;
    src: url("./asset/typeface/FavoritTrial-Regular.otf") format("opentype");
}

@font-face {
    font-family:FavoritTrial-RegularIta;
    src: url("../asset/typeface/FavoritTrial-RegularIta.otf") format("opentype");
}


@font-face {
    font-family:Traulha_TEST-Regulara;
    src: url("./asset/typeface/Traulha_TEST-Regulara.otf") format("opentype");
}

@font-face {
    font-family:Traulha_TEST-Jornau;
    src: url("./asset/typeface/Traulha_TEST-Jornau.otf") format("opentype");
}

html{
    background-color: white;
    cursor:crosshair;
    /*cursor: url("../asset/images/cursor.png"),auto;*/
}
nav {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10%;
}

/*title inline situation*/
.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}
.underline:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    width: 0;
    bottom: 75px;
    background: rgb(255, 0, 0);
    height: 7px;
    transition-property: width;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;    
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

a {
    font-family: FavoritTrial-Regular;
    font-size: 32px;
    letter-spacing:0.04em;
    text-rendering:optimizeLegibility;
    padding:0 100px 0 100px;
       /* top right bottom left*/
    text-decoration: none;
    color:rgb(0,0,255);
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.light {
    height: 100%;
    padding-top: 20px;
    background-color: white;
}

.dark{
    height: 100%;
    padding-top: 20px;
    background-color: rgb(0,0,255);
}


.light h2 {
    font-family:Traulha_TEST-Regulara;
    color: rgb(0,0,255);
    font-size: 124px;
    line-height: 1.1;
    text-align: center;
    letter-spacing:0em;
    text-rendering:optimizeLegibility;
  }

#plot h2{
    font-family:FavoritTrial-Regular;
    color:rgb(0,0,255);
    font-size: 72px;
    line-height: 1.05;
    text-align: left;
    letter-spacing:0em;
    padding: 130px;
    text-rendering:optimizeLegibility;
}
#participants .column {
    float: left;
    width: 48%;
}

/* Clear floats after the columns */
#participants .row:after {
    content: "";
    display: table;
    clear: both;
}

#participants h3{
    font-family:FavoritTrial-Regular;
    color:rgb(0,0,255);
    font-size: 36px;
    line-height: 1.1;
    text-align: left;
    letter-spacing:0em;
    margin: 50px;
    padding: 5px;
    text-rendering:optimizeLegibility;
}

#quote h2{
    font-family:FavoritTrial-Regular;
    color:white;
    font-size: 72px;
    line-height: 1.05;
    text-align: left;
    letter-spacing:0em;
    padding: 130px;
    text-rendering:optimizeLegibility;
}
