/* GLOBAL */
@font-face {
    font-family: Ogg-Roman;
    src: url("../asset/typeface/Ogg-Roman.otf") format("opentype");
}

@font-face {
    font-family:SharpGroteskTRIALBook22;
    src: url("../asset/typeface/SharpGroteskTRIALBook22.otf") format("opentype");
}

@font-face {
    font-family:SportingGrotesque-Regular;
    src: url("../asset/typeface/SportingGrotesque-Regular.otf") format("opentype");
}


html{
	background-color:white;
}

.title{
  margin: 35px;
  padding-bottom: 40px;
  position: fixed;
  top:0;
  left:33%;
  color:rgb(0,0,255);
  font-family: Ogg-Roman;
  font-size: 40px;
}



/*Marquee poem*/
.poembox{
  position:absolute;

  top:0%;
  left:0%;
}

.poem{ 
   /* overflow: hidden;*/
    position:relative;
    top:120px;
    marquee-direction: backward;
    display: block;
    background-color: white;
    color:#0000FF;
    font-family: SharpGroteskTRIALBook22;
    font-size: 55px;
    margin:;
    white-space: nowrap;
    animation: marquee 50s linear infinite;
}

.poem:hover {
    animation-play-state:paused;
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 23em }
    100% { text-indent: -80em }
}

.number { 
   /* overflow: hidden;*/
    position: relative;
    top:120px;
    display: block;
    background-color:#0000FF;
    color:white;
    font-family: SharpGroteskTRIALBook22;
    font-size: 55px;
    margin:;
}

/*menu inline situation*/
.menuhover {
  display: inline;
  position: relative;
  overflow: hidden;
}

.menuhover:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  width: 0;
  bottom: 11px;
  background: rgb(255, 0, 0);
  height: 3.5px;
  transition-property: width;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}
.menuhover:hover:after,
.menuhover:focus:after,
.menuhover:active:after {
  left: 0;
  right: auto;
  width: 100%;
}





/*.police img{
	
  position: fixed;
  right: 60%;
  top: 70%;
  width: 6.5em;
  margin-top: -1em;
}


.police img:hover{
	opacity:0.6;
}

.murder img{
position: fixed;
  right: 34.3%;
  top: 70%;
  width: 6.7em;
  margin-top: -1em;

}	

.murder img:hover{
	opacity:0.6;
}*/

/*h4:hover{
opacity:0.6;
}*/


	












/*text-rendering:optimizeLegibility;
line-height:1.25;
letter-spacing:0.04em
max-width:540px;
text-indent: 1.25em;
margin-bottom: 1em;*/
/*text-align: center;*/
