/* GLOBAL */
@font-face {
    font-family:FavoritTrial-Regular;
    src: url("../asset/typeface/FavoritTrial-Regular.otf") format("opentype");
}

@font-face {
    font-family:FavoritTrial-RegularIta;
    src: url("../asset/typeface/FavoritTrial-RegularIta.otf") format("opentype");
}

body{ 
    column-count: 2;
    column-gap: 150px;
    padding: 160px;
}

@font-face {
    font-family:Traulha_TEST-Regulara;
    src: url("../asset/typeface/Traulha_TEST-Regulara.otf") format("opentype");
}

@font-face {
    font-family:Traulha_TEST-Jornau;
    src: url("../asset/typeface/Traulha_TEST-Jornau.otf") format("opentype");
}

html{
    background-color: rgb(0,0,255);
    cursor:crosshair;
    /*cursor: url("../asset/images/cursor.png"),auto;*/
}
nav {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10%;
}

h3{
    font-family:FavoritTrial-Regular;
    color: red;
    background-color: rgb(0,0,255);
    font-size: 32px;
    line-height: 1.1;
    text-align: center;
    word-spacing:2em;
    text-rendering:optimizeLegibility;
 }
.nav:hover{
    opacity: 0.4;
    }

.sir{
	color:white;
	font-family:FavoritTrial-Regular;
	font-size: 32px;
	line-height: 1.2;
	letter-spacing:0.04em;
	text-rendering:optimizeLegibility;
	}

.ac{
	color:rgb(0,0,255);
	font-family:FavoritTrial-Regular;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing:0.04em;
	text-rendering:optimizeLegibility;
	}

.hint img{
  	position: fixed;
  	right: 35%;
  	top: 35%;
  	width: 20em;
  	opacity: 0.9;
}

.hint img:hover{
	opacity: 0.3;
}

.menu h4:hover{
	opacity: 0.4;
}

.credit:hover{
    opacity: 0.4;
}

.modalDialog {
	position: fixed;
	font-family:FavoritTrial-Regular;
	font-size: 18px;
	line-height:1.6;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgb(0,0,255);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 380ms ease-in;
	-moz-transition: opacity 380ms ease-in;
	transition: opacity 380ms ease-in;
	pointer-events: none;
	}

.modalDialog:target {
	opacity:0.9;
	pointer-events: auto;
	}

.modalDialog > div {
	width: 930px;
	height: 400px;
	position: relative;
	margin: 13% auto;
	padding: 40px 30px 50px 50px;
	border-radius: 9px;
	background: white;
	background: -moz-linear-gradient(#EDEDED, #FFFAFA);
	background: -webkit-linear-gradient(#EDEDED, #FFFAFA);
	background: -o-linear-gradient(#EDEDED, #FFFAFA);
	}

.modalDialog img{
	position: relative;
  	right: 2%;
  	top: 0%;
  	width: 54em;
	
}
.close {
	font-family:candara;
	font-size: 18px;
	background: white;
	color: rgb(0,0,255);
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	}

.close:hover { background: #CDB7B5; }

