html{
	background-image: url(../rogerback.jpg);
	background-size:cover;

}

.menu{
	
	font-family: big caslon;
	font-size: 18px;
	line-height: 0.7;
	letter-spacing:0.04em;
	text-rendering:optimizeLegibility;
	color:rgb(255,255,255);
	margin:10px;
	padding:10px;
	font-color: white;

	}

.menu h4:hover{
		opacity: 0.4;
	}

	h1 {
	margin:15px;
	
	font-family: big caslon;
	text-align: left;
	font-size: 26px;
	text-decoration: line-through;
	text-indent: 78px;
	
}

	.roger{
	font-family: big caslon;
	font-size: 18px;
	line-height: 1.9;
	letter-spacing:0.04em;
	text-rendering:optimizeLegibility;
	margin:70px;
	padding:20px;
	width: 470px;

/*	transform: rotate(deg);*/
	/*word-wrap: break-word;*/
	/*-webkit-transform: rotate(7deg);  Chrome, Safari, Opera 
    */
	}
.hover img { display: none; position: absolute; top: -50px; left: -50px; }

.hover:hover img { display: block; }

	.back img{
  position: fixed;
  right: 95%;
  top: 90%;
  width: 1.5em;
  margin-top: -1em;

	}

	.back img:hover{
  opacity: 0.3;
	}

.rogertool img {
	 position: fixed;
  right: 5%;
  top: 10%;
  width: 25em;
  margin-top: -1em;
}

	.forward img{
			position: fixed;
  right: 5%;
  top: 90%;
  width: 1.5em;
  margin-top: -1em;

	}

	.forward img:hover{
		opacity: 0.3;
	}
	